{%extends "polling_site/base.html"%}


{%block content%}

    <a href= "{% url "your_polls"%}">
        <i class="bi bi-person"></i> Your Polls
    </a>

    <a href="{% url 'create_poll' %}" >
        <i class="bi bi-plus"></i> Create Poll
    </a>
    <a href = "{% url "subscribe"%}" class="btn btn-primary mb-3">
        <i class="bi bi-bell"></i> Subscribe for To Change Votes
    </a>
<h1>Available Polls</h1>

{% if user.is_authenticated %}
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">
            <i class="bi bi-box-arrow-right"></i> Logout
        </button>
    </form>
{% else %}
    <a href="{% url 'login' %}" class="btn btn-primary">
        <i class="bi bi-box-arrow-in-right"></i> Login
    </a>
    <a href="{% url 'register' %}" class="btn btn-secondary">
        <i class="bi bi-person-plus"></i> Register
    </a>
{% endif %}

{% for poll in polls %}
    <div class="poll">
        <h2>
            <a href="{% url 'poll_detail' poll.id %}"> 
            {{ poll.question }}
            </a>
        </h2>
        <p>Created by {{ poll.author}}:</p>
        <p>Created on: {{ poll.pub_date }}</p>
        {% csrf_token %}
        <button type="submit" name="vote" value="option1" class="btn btn-primary"{% if poll.id in has_voted %}disabled{%endif%}>{{ poll.option1 }}</button>
        <button type="submit" name="vote" value="option2" class="btn btn-secondary"{% if poll.id in has_voted %}disabled{%endif%}>{{ poll.option2 }}</button>
        </form>
    <p>Votes for {{ poll.option1 }}: {{ poll.vote_count1 }}</p>
    <p>Votes for {{ poll.option2 }}: {{ poll.vote_count2 }}</p>
        <a href="{% url 'poll_detail' poll.id %}" class="btn btn-secondary mt-3">View Poll</a>
    </div>
{% empty %}
    <p>No polls available at the moment.</p>
{% endfor %}

{% endblock %}