{%extends "polling_site/base.html"%}

{% block content %}
<h1>Your Polls</h1>
    <a href = "{% url "home"%}" class="btn btn-secondary mb-3">
        <i class="bi bi-arrow-left"></i> Back to Home
    </a>
{% if polls %}
    <ul class="list-group">
        {% for poll in polls %}
            <li class="list-group-item">
                <h2>
                    <a href="{% url 'poll_detail' poll.id %}">{{ poll.question }}</a>
                </h2>
                <p>Created on: {{ poll.pub_date }}</p>
                <p>Votes for {{ poll.option1 }}: {{ poll.vote_count1 }}</p>
                <p>Votes for {{ poll.option2 }}: {{ poll.vote_count2 }}</p>
                <a href="{% url 'poll_detail' poll.id %}" class="btn btn-secondary mt-3">View Poll</a>
                {% if user.is_authenticated and user == poll.author %}
                    <form method="post" action="{% url 'delete_poll' poll.id %}" class="mt-3">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete Poll</button>
                    </form>
                {% endif %}
                </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You have not created any polls yet.</p>
{% endif %}

{%endblock%}